body, h1, h2, h3, h4, h5, a, p, img, textarea, div {
  margin: 0;
  padding: 0;
  border: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: none;
  color: inherit;

  background: transparent;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  /*padding: 20px;*/
  /*width: 60vw;*/
  margin: 0 auto;
}

input {
  padding: 5px;
  margin-bottom: 20px;
}

textarea {
  border: 1px solid rgb(154, 161, 163);
  height: 300px;
  width: 510px;
}

html {
  /* photo by Lia Leslie from pexels.com */
  background: url('http://res.cloudinary.com/zlindacz/image/upload/c_scale,w_1500/v1487958139/notebook2_iuhc7h.jpg') no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

.error {
  color: red;
}
