/* color scheme according to http://www.pictaculous.com/
#93785E
#608F82
#E5E8CB
#2F4B49
*/

html {
  /* photo by Simson Petrol from unsplash.com */
  background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,o_70,w_1500/v1487959366/simson-petrol-110900_yy8u0z.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
  height: 20em;
}

@media (max-width: 1200px) {
  html {
    background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,o_70,w_1250/v1487959366/simson-petrol-110900_yy8u0z.jpg") no-repeat center center fixed;
  }
}
@media (max-width: 800px) {
  html {
    background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,o_70,w_900/v1487959366/simson-petrol-110900_yy8u0z.jpg") no-repeat center center fixed;
  }
}

td {
  padding-right: 0.7em;
}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 225%;
  font-weight: bold;
  color: #E5E8CB;
  margin-bottom: 1em;
}

/* Login Form */

.login-main {
  position: absolute;
  left: 30%;
  top: 40%;
}

.login-form {
  display: inline-block;
  text-align: center;
  background-color: rgba(40, 52, 57, 0.85);
  height: 27em;
  width: 26em;
  padding: 2.5em;
  border-radius: 10%;
}

.login-label {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 160%;
  color: #E5E8CB;
}

.login-input-field {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 1em;
  font-size: 120%;
  border-bottom: 2px solid #E5E8CB;
  color: #E5E8CB;
}

.login-submit {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.8em;
  margin-top: 1em;
  border: 5px solid #E5E8CB;
  border-radius: 10%;
  color: #E5E8CB;
}

.login-submit:hover {
  cursor: pointer;
}

.login-error {
  font-size: 1.2em;
  margin-top: 1em;
  color: rgba(242, 111, 63, 0.93);
}

.cred-link-signup {
  /*position: absolute;*/
  display: block;
  right: 0;
  left: 0;
  padding-bottom: 5px;
}

/* Signup Form */

.signup-main {
  position: absolute;
  left: 25%;
  top: 18%;
}

.signup-form {
  display: inline-block;
  text-align: center;
  background-color: rgba(40, 52, 57, 0.85);
  height: 35em;
  width: 35em;
  padding: 2.2em;
  border-radius: 10%;
}

.signup-table {
  margin-top: 1em;
}

.signup-label, .signup-error {
  font-size: 70%;
  font-weight: 200;
  color: #E5E8CB;
}

.signup-input-field {
  font-family: 'Gloria Hallelujah', cursive;
  padding: 0.5em;
  font-size: 60%;
  border-bottom: 2px solid #E5E8CB;
  color: #E5E8CB;
}

.signup-submit {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 0.7em;
  font-weight: bold;
  padding: 0.5em;
  margin-top: 1em;
  border: 5px solid #E5E8CB;
  border-radius: 10%;
  color: #E5E8CB;
}

.signup-submit:hover {
  cursor: pointer;
}

.signup-error {
  font-size: 40%;
  color: rgba(242, 111, 63, 0.93);
}

.cred-link-login {
  /*position: absolute;*/
  display: block;
  right: 0;
  left: 0;
  padding-bottom: 5px;
  color: black;
  font-size: 45%;
  font-weight: 200;
  font-family: arial;

}
