/* color scheme according to http://www.pictaculous.com/
#93785E
#608F82
#E5E8CB
#2F4B49
*/

html {
  /* photo by dustin lee from unsplash.com */
  background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,w_1500/v1487825338/dustin-lee-19667_bghgwu.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  position: relative;
}

@media (max-width: 1200px) {
  html {
    background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,w_1250/v1487825338/dustin-lee-19667_bghgwu.jpg") no-repeat center center fixed;
  }
}
@media (max-width: 800px) {
  html {
    background: url("http://res.cloudinary.com/zlindacz/image/upload/c_scale,q_auto,w_900/v1487825338/dustin-lee-19667_bghgwu.jpg") no-repeat center center fixed;
  }
}

.main-content {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.title {
  position: absolute;
  width: 40em;
  left: 40%;
  top: 33%;
}

.welcome {
  font-family: 'Lobster Two', cursive;
  font-size: 300%;
  color: rgba(62, 38, 47, 0.8);
}

.blog {
  font-family: 'Alfa Slab One', cursive;
  font-size: 600%;
  color: #324746;
}

.tagline {
  font-size: 120%;
  margin-top: 0.5em;
  color: rgba(62, 38, 47, 0.8);
}

.links {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 40%;
  left: 33%;
  top: 65%;
}

.greet-link {
  font-weight: bold;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 150%;
  padding: 0.5em 0.7em;
  margin: 2em;
  border: 5px solid #2F4B49;
  border-radius: 10%;
}
