.nav-bar {
  display: flex;
  justify-content: space-between;
}

.blog-title {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  margin: 20px;
}

.post-title-header {
  margin: 20px auto;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid black;
}

.post-title, .new-post-title {
  font-size: 25px;
  font-weight: bold;
}

.post-date {
  color: grey;
}

.new-post-title {
  margin: 30px 0;
}

.publish-button {
  padding: 8px;
  font-size: 22px;
  margin: 10px 0;
}
