/* color scheme according to http://www.pictaculous.com/
#93785E
#608F82
#E5E8CB
#2F4B49
*/

/* blog title & header */

.blog-title {
  text-align: center;
  font-family: 'Rock Salt', cursive;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0.5em;
  color: #4a3315;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  border-bottom: 4px groove #deb085;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
  font-size: 1.2em;
  color: #4a3315;
  margin: 0 0 1.5em;
}

.logout-button {
  color: #dac3ad;
  text-shadow: 1px 1px 2px #4a3315;
  font-size: 95%;
}

.logout-button:hover {
  cursor: pointer;
}

/* Posts */

.posts {
  width: 85vw;
  margin: 1em auto;
  font-family: 'Gloria Hallelujah', cursive;
  color: blanchedalmond;
}

.each-post {
  background: rgba(98, 74, 54, 0.60);
  border-radius: 5px;
  padding: 1em;
  margin-bottom: 1em;
}

.post-title-header, .comment-title-header {
  padding: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 2px solid rgb(45, 30, 18);
}

.post-title, .new-post-title, .comment-title {
  font-size: 25px;
  font-weight: bold;
}

.post-author {
  font-size: 1.1em;
}

.post-body, .comment-body {
  padding: 0.5em;
}

/* Modal styling */

.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.87);
  position: absolute;
  top: 0;
}

.modal-contents {
  background-color: blanchedalmond;
  text-align: center;
  width: 20%;
  padding: 4em 3em 2em;
  border-radius: 5%;
  position: absolute;
  top: 20%;
  left: 35%;
  border: 2px double #d92f00;
}

.delete-heading {
  font-size: 1.5em;
  margin-bottom: 1em;
}

.delete-subheading {
  font-size: 1em;
}

.delete-choices {
  margin-top: 3em;
  display: flex;
  justify-content: space-between;
}

.delete, .delete-cancel {
  padding: 0.5em;
}

.delete {
  border: 2px solid rgb(45, 30, 18);
}

.delete:hover {
  cursor: pointer
}
