<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/application.css">
    <link rel="stylesheet" href="/static/greeting.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lobster+Two" rel="stylesheet">
    <title>Welcome</title>
  </head>
  <body>
    <div class="background-img">
    </div>
    <header class="title">
      <h2 class="welcome">Welcome to</h2>
      <h1 class="blog">Blog It</h1>
    </header>
    <section>
      <h3 class="tagline">Where anyone can blog about anything!</h3>
    </section>
    <section>
      <a class="greet-link" href="blog/signup">Sign Up</a>
      <a class="greet-link" href="blog/login">Log In</a>
    </section>

  </body>
</html>
