{% extends "creds.html" %}

{% block content %}
<main class="login-main">
  <form method="post" class="login-form">
    <h2 class="title">I'm Back!</h2>
    <table>
      <tbody>
        <tr>
          <label>
            <td class="login-label">Username</td>
            <td><input class="login-input-field" type="text" name="username"></td>
          </label>
        </tr>
        <tr>
          <label>
            <td class="login-label">Password</td>
            <td><input class="login-input-field" type="password" name="password"></td>
          </label>
        </tr>
      </tbody>
    </table>
    <div class="login-error">{{error}}</div>
    <input class="login-submit" type="submit" value="Log In">
    <a href="/blog/signup" class="cred-link-signup">Register</a>
  </form>
</main>

{% endblock %}
