{% extends "_base.html" %}

{% block content %}

  <h1 class="blog-title"><a href="/blog">Welcome, {{username}}!</a></h1>
  {% if form %}
    <nav class="nav-bar">
      <p><a href="/blog">Cancel</a></p>
      <form class="logout" action="/blog/logout" method="post">
        <input class="logout-button" type="submit" name="" value="Log Out">
      </form>
    </nav>
    {% include "post_form.html" %}
  {% else %}
    <nav class="nav-bar">
      <p><a href="/blog/newpost">New Post</a></p>
      <form class="logout" action="/blog/logout" method="post">
        <input class="logout-button" type="submit" name="" value="Log Out">
      </form>
    </nav>
    {% include "posts.html" %}
  {% endif %}

{% endblock %}
