
<aside class="modal">
  <section class="modal-contents">
    <form class="" action="/blog/{{post.key().id()}}/delete" method="post">
      <h2 class="delete-heading">Are you sure you want to delete this post?</h2>
      <h3 class="delete-subheading">It will be lost forever.</h3>
      <div class="delete-choices">
        <a class="delete-cancel" href="/blog/{{post.key().id()}}">Cancel</a>
        <input type="submit" class="delete" value="Delete">
      </div>
    </form>
  </section>
</aside>
