{% extends "creds.html" %}

{% block content %}
<main class="signup-main">
  <form method="post" class="signup-form">
    <h2 class="title">Create Account</h>
    <table class="signup-table">
      <tbody>
        <tr>
          <td class="signup-label">Username</td>
          <td><input class="signup-input-field" type="text" name="username" value="{{username}}"></td>
          <td class="signup-error" name="username-error">{{username_error}}</td>
        </tr>
        <tr>
          <td class="signup-label">Password</td>
          <td><input class="signup-input-field" type="password" name="password"></td>
          <td class="signup-error" name="password-error">{{password_error}}</td>
        </tr>
        <tr>
          <td class="signup-label">Verify Password</td>
          <td><input class="signup-input-field" type="password" name="verify"></td>
          <td class="signup-error" name="verify-error">{{verify_error}}</td>
        </tr>
        <tr>
          <td class="signup-label">Email (Optional)</td>
          <td><input class="signup-input-field" type="text" name="email" value="{{email}}"></td>
          <td class="signup-error" name="email-error">{{email_error}}</td>
        </tr>
      </tbody>
    </table>

    <input class="signup-submit" type="submit" value="Sign Up">
  </form>
</main>
{% endblock %}
